.mruext-image-border{
	background-color:rbga(0,0,0,0.75);
	border:2px solid #000000;
	border-radius: 25px;
}

.mruext-image {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	padding:1% 1%;
	height:45px;
}


.mruext-title{
	position: block;
	margin-top: 135;
	color:#ffffff;
	background-color:rgba(0,0,0,.75);
	border:2px
	solid: #000000;
	border-radius:25px;
	z-index:100000000;
}

.mruext-chooser{
	position:block;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
	margin-top:150px;

	background-color:rgba(0,0,0,.5);
	border:2px solid #000000;
	border-radius:25px;

	max-width: 500px;
	text-align: center;
}

.mruext-container{
	position:fixed;
	min-height: 100%;
	min-width: 100%;
	text-align: center;
	z-index:10000000;
}
